.AboutMain{
    padding: 20px;
}
.DateText{
    font-size: 15px;
}
@media screen and (max-width: 500px){
    .DateText{
        font-size: 10px;
    }
    .AboutMain{
     padding: 7px;
     font-size: 12px;
    }
}